---
import Layout from "../layouts/Layout.astro";
import AnnouncementBar from "../components/GA-AnnouncementBar.astro";
import ProductSlider from "../components/GA-ProductSlider.astro";
import ProductForm from "../components/ProductForm.astro";
import Tabs from "../components/GA-tabs.astro";
---

<Layout>
	<div id="gaw-info-bar"><div class="container"></div></div>
	<AnnouncementBar />
	<ProductSlider />
	<div class="container">
		<ProductForm />
		<Tabs />
	</div>
	<slot name="dialog" />
</Layout>

<style is:global>
	.container {
		margin: auto;
		padding: var(--space-l) 0;
		inline-size: 90%;
		max-inline-size: 50ch;
	}

	.container > * + * {
		margin-block-start: var(--space-l);
	}

	#gaw-info-bar:not(:empty) {
		background-color: #e3eedb;
		border-block-end: var(--border);
	}

</style>
